In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
labelEnc = LabelEncoder()

In [9]:
df = pd.read_csv('titanic.csv')

In [10]:
leforsex = labelEnc.fit_transform(df.Sex)

In [11]:
leforsex.shape

(891,)

In [12]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [13]:
df.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [15]:
df.dropna(subset=['Embarked'],inplace=True)

In [16]:
df.shape

(889, 12)

In [17]:
df.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False